.container {
    border: 1px solid red;
}

[class*="col-"] {
    height: 50px;
    border: 1px solid rgba(164, 185, 150, 1);
}

/* PROPERTIES OF THE COLOR */

.green {
    background-color: rgba(99, 154, 64, 1);
}

.red {
    background-color: rgba(255, 0, 0, 1);
}

.pink {
    background-color: rgba(255, 182, 154, 1);
}

.gold {
    background-color: gold;
}

.black {
    background-color: black;
}